<nav class="navbar bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark"">
  <div class="container-fluid">
    <%= link_to 'Catalogando', admin_entities_path, class: 'navbar-brand' %>
  </div>
</nav>