<% content_for :title, "Editar entidade" %>

<nav class="navbar bg-body-tertiary">
  <h2>Editar Entidade</h2>

  <%= link_to "Voltar", admin_entities_path, class: 'btn btn-secondary' %>
</nav>

<%= render "form", entity: @entity %>
