<% content_for :title, "Nova produto" %>

<nav class="navbar bg-body-tertiary">
  <%= content_for :page_header do %>
    <div class="container-fluid d-flex justify-content-between">
      <h2>Nova produto</h2>

      <%= link_to_back %>
    </div>
  <% end %>
</nav>

<%= render "form", product: @product %>

